<!DOCTYPE html>
<html ng-app>
	<head>
		<meta http-equiv="x-ua-compatible" content="IE=Edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ShipSeed</title>
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic,900' rel='stylesheet' type='text/css'>
		<link href="//get.pictos.cc/fonts/2618/4" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="../css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<script src="../js/shipseed.js"></script>
	</head>
	<body ng-controller="ShipSeedCtrl">
		<div class="home-wrapper brokers">
			<div class="main-header">
				<h1>
					<a href=''>ShipSeed</a>
				</h1>
				<nav class="main-nav">
					<ul>
						<li>
							<a href=''>For Importers</a>
						</li>
						<li>
							<a href=''>Create Account</a>
						</li>
						<li>
							<a href='' ng-click="signIn = !signIn">Log in</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="hero">
				<div class="container">
					<h2>Find new routes to grow your business.</h2>
					<fieldset>
						<h3 class="mbs">Where are you shipping to? Or <a href=''>learn more</a></h3>
						<p class="mbl">Discover shipping routes without a sales team.</p>

						<div class="input-group">
							<span>Find container prices from</span>
							<div class="typeahead-wrapper">
								<input type="text" ng-model="originText" placeholder="Port of Origin">
								<ul class="typeahead-list" ng-hide="!originText || hasOrigin">
									<li ng-repeat="port in ports | filter:originText | limitTo:8">
										<a href='' ng-click="originSelected(port)">{{port.name}}</a>
									</li>
									<li class="subtle-text" ng-show="(ports | filter:originText).length == 0">
										I can't find this port.
									</li>
								</ul>
							</div>
							<span>to</span>
							<div class="typeahead-wrapper">
								<input type="text" ng-model="destinationText" placeholder="Port of Destination">
								<ul class="typeahead-list" ng-hide="!destinationText || hasDestination">
									<li ng-repeat="port in ports | filter:destinationText | limitTo:8">
										<a href='' ng-click="destinationSelected(port)">{{port.name}}</a>
									</li>
									<li class="subtle-text" ng-show="(ports | filter:destinationText).length == 0">
										I can't find this port.
									</li>
								</ul>
							</div>
							<a href='results.html' class="button primary">Search</a>
						</div>

					</fieldset>


				</div>

			</div>
		</div>
		<div class="lightbox one" ng-class='{"open":signIn}'>
			<div class="modal">
				<div class="card">
					<div class="card-header">
						<h2>Log In</h2>
						<a href='' class="close" ng-click="signIn = !signIn">&times;</a>
					</div>
					<div class="card-content">
						<div class="grid-12 well">
							<div class="grid-12">
								<div class="input-group has-icon">
									<label>Email Address</label>
									<i class="ss-mail"></i>
									<input type="email">
								</div>
								<div class="input-group has-icon">
									<label>Password</label>
									<i class="ss-lock"></i>
									<input type="password">
								</div>
							</div>
							<div class="grid-12">
								<a href=''>I'm having trouble signing in.</a>
							</div>
						</div>
					</div>
					<div class="card-content">
						<a href='routes.html' class="primary button">Log In</a>

					</div>
				</div>
			</div>
		</div>
	</body>
</html>
