/***********************************************

	Icons

***********************************************/

i:before {
	font-family: "Pictos Custom";
	font-weight: 400;
	font-size:$base-font-size;
	font-style:normal;
	line-height: 0;
}

i.star:before {
	content:"a";
	&.gold {
		color:#F4DD51;
	}
}

i.star.gold:before {
	content:"a";
	color:shade(#F4DD51, 10%);
}

i.question:before {
	content:"?";
}

i.thumb-up:before {
	content:"t";
}

i.move-right:before {
	content:"r";
}

i.email:before {
	content:"e";
}

i.lock:before {
	content:"l";
}

i.plus:before {
	content:"+";
}

i.attention:before {
	content:"!";
}

i.check:before {
	content:"c";
}

i.user:before {
	content:"u";
}

i.house:before {
	content:"h";
}

i.phone:before {
	content:"p";
}

i.search-icon:before {
	content:"s";
}